<div class="text">
  <div class="spec-wrapper2">
    <%= f.text_field :name, :required => true,  placeholder: "ex. Sulfur*" %>
  </div>

  <div class="spec-wrapper3">
    <%= f.text_field :unit, :required => true,  placeholder: "ex. Celcius*" %>
  </div>

  <div class="spec-wrapper4">
    <%= f.text_field :limit, :required => true,  placeholder: "max./min.*" %>
  </div>

  <div class="spec-wrapper5">
    <%= f.text_field :value, :required => true,  placeholder: "ex. 3.50*" %>
    <%= f.hidden_field :type %>
  </div>

  <div class="spec-wrapper6">
    <%= f.text_field :test_method_reference, :required => true,  placeholder: "ex. ISO 3016)*" %>
  </div>

<!-- 
  # autocomplete :rfp, :order_size
   

  # def index
  #   if params[:order_size]
  #     @rfp = Rfp.where(order_size: params[:order_size]).paginate(page: params[:page], per_page: 30)
  #   elsif params[:id]
  #     @rfp = Rfp.where(id: params[:id]).paginate(page: params[:page], per_page: 30)
  #   elsif params[:ship_size]
  #     @rfp = Rfp.product.where(ship_size: params[:rfp_ship_size]).paginate(page: params[:page], per_page: 30)
  #   else
  #     @rfp = Rfp.paginate(page: params[:page], per_page: 30)
  #   end
  # end -->
</div>
