<div id="explore-rfp-container">
      <div class="listing-wrapper">
        <div class="header-text">Search RFPs</div> 
        <br>
          <div id="autocomplete-wrapper">
            <span> Search: </span>
             <%= form_tag "/rfps", placeholder: 'Search', method: :get, id: "autocomplete" do %>
              <%= autocomplete_field_tag :rfp_order_size, '', autocomplete_rfp_order_size_rfps_path %>
            <% end %>
          </div>
      </div> <!-- End of Listing-wrapper -->

  <div class="header-column">

  </div>
  
  <div class="rfp-listing-wrapper">
    <div class="column">
      <div class="rfp">  
        <div class="heading">
         <%= current_user.country %>
    
          <% @rfps.each do |p| %>
        
          <h5> <%= p.product.commodity %> </h5>
        </div>

          <h5> <%= nice_date p.end_date %> </h5>  
          <h5> <%= nice_date p.delivery_date %> </h5>
          <h5> <%= p.order_size %> </h5>
      </div>
    </div>
      <% end %>
  </div> <!-- End of column -->
</div> <!-- End of explore-rfp-container -->

