<div id="explore-rfp-container">
  <div class="listing-wrapper">
    <div class="header-text">Search RFPs</div> 
    <br>
      <div id="autocomplete-wrapper">
        <span> Search: </span>
         <%= form_tag "/rfps", placeholder: 'Search', method: :get, id: "autocomplete" do %>
          <%= autocomplete_field_tag :rfp_order_size, '', autocomplete_rfp_order_size_rfps_path %>
        <% end %>
      </div>
  </div> <!-- End of Listing-wrapper -->
  
  <div class="rfp-listing-wrapper">
    <div class="column">

      <%= current_user.country %>
    
        <% @rfps.each do |p| %>
      
      <div class="rfp">
        <div class="heading">
          <h6> <%= p.product.commodity %> </h6>
        </div>
        <div class="index-content-wrapper">  
          <h6 class="index-label"> Final Bidding Date </h6>
          <h6 class="index-content"> <%= nice_date p.end_date %> </h6>  
          <h6 class="index-label"> First Date of Delivery </h6>
          <h6 class="index-content"> <%= nice_date p.delivery_date %> </h6>
          <h6 class="index-label"> Product Volume </h6>
          <h6 class="index-content"> <%= "#{p.order_size} k tons" %> </h6>
          <div class="view-link"> <%= link_to 'View', rfp_path(p.id) %> </div>
        </div>
      </div>
      <% end %>
    </div>
      
  </div> <!-- End of column -->
 <div class="text-center"> 
 
 </div>
</div> <!-- End of explore-rfp-container -->

