<div class="rfp-page-wrapper">
  
  <h2 class="signup-header">Create New RFP</h2>
  
  <div class="text-field-wrapper">
  
    <div class="rfp-field-wrapper"> 
      <h3 class="spec-header">RFP Information</h3>

      <%= form_for @rfp do |f| %>
        
        <%= f.text_field :end_date, :required => true, placeholder: "RFP Ending Date (MM/DD/YYYY)*" %>
        <%= f.text_field :order_size, :required => true, placeholder: "Cargo Size (ktons)*" %>
        <%= f.text_field :contract_length, :required => true, placeholder: "Term of Contract (months)" %>
        <%= f.text_field :delivery_frequency, :required => true, placeholder: "# of Deliverys Over Contract Term*" %>
        
        <%= f.text_field :delivery_date, :required => true, placeholder: "Supply Start Date (MM/DD/YYYY)*"  %>
        <%= f.text_field :delivery_type, :required => true, placeholder: "Shipping Type (ex. FOB)*"  %>
    </div> <!-- end of rfp-wrapper -->

    <div class="spec-field-wrapper">
      <div class="spec-field-wrapper2">
        <h3 class="spec-header">Specification Information</h3>
        
        <div class="col-wrapper">
          <%= render "spec_header" %>
        </div>

        <div class="product-field-wrapper"> 
          <%= f.fields_for :product do |builder| %>
      

          <div class="spec-wrapper1">
            <%= builder.text_field :commodity, :required => true,  placeholder: "ex. Diesel*" %>
          </div>
        </div>

        <div class="jr-spec-field-wrapper">
          <%= builder.fields_for :specs do |builder| %>


           <%= render 'spec_fields', :f => builder %>

           <% end %>
          <% end %>
        </div>
      </div>
    </div><!-- end of spec field wrapper -->
  </div> <!-- end of text-field-wrapper -->

  <div class="final-wrapper">
    <h5 class="required">*Required field</h5>
      <div class="actions">
       <%= f.submit "Create RFP", 'data-no-turbolink' => true %>
      </div>
       <% end %>
    </div>
  </div> 
</div>
