<div class="rfp-show-wrapper">

  <h2 class="rfp-show-header"> Active RFP</h2>

  <div class="show-field-wrapper">
  
    <div class="rfp-table-wrapper">  
      <h3 class="spec-header">RFP Information</h3>
      
      <%= render "rfp_show" %>

      <div class="rfp-wrapper1">
        <p>
          <%= nice_date @rfp.end_date %>
        </p>     

        <p>
          <%= @rfp.order_size %>
        </p>      
       
        <p>
          <%= @rfp.contract_length %>
        </p>

        <p>
          <%= @rfp.delivery_frequency %>
        </p>
        
        <p>  
          <%= nice_date @rfp.delivery_date %>
        </p>  

        <p>
          <%= @rfp.delivery_type %>
        </p>
      </div>
    </div> <!-- End of rfp-table-wrapper -->

    <div class="spec-table-wrapper">  
      <h3 class="spec-header2">Specification Information</h3>
      
        
          <%= render "spec_show" %>
        <br>
      <div class="spec-show-container">

            <div class="product-show-wrapper">

              <div class="spec-show-container1">
                <%= @rfp.product.commodity %>
              </div>
            </div>

            <div class="jr-show-field-wrapper">

              <% for spec in @rfp.product.specs %>
              
                <div class="spec-show-container2">
                  <%= spec_type(spec) %>
                </div>

                <div class="spec-show-container3">
                  <%= spec.unit %>
                </div>

                <div class="spec-show-container4">
                  <%= spec.limit %>
                </div>

                <div class="spec-show-container5">
                  <%= spec.value %>
                </div>

                <div class="spec-show-container6">
                  <%= spec.test_method_reference %>
                </div>
                <% end %>
            </div> <!-- end of jr-show-field-wrapper -->
      </div><!-- end of spec-show-container -->
   

      <div class="edit-links">
        <% if current_user.id == @rfp.user_id %>
        <%= link_to "Edit", edit_rfp_path(@rfp) %> |
        <%= link_to "Destroy", rfp_path(@rfp), :confirm => 'Are you sure you want to delete RFP?', :method => :delete %> 
        <% else %>
      
        <div class="bids-wrapper"> 
          
          <%= form_for @bid do |f| %>
          
            <div class="price-input-wrapper"> 
              <div class="price-input-wrapper2">
                <span class="bid-label"> Enter Your Bid </span>  <%= f.text_field :price, :required => true, placeholder: "$ USD*" %> 
              </div>
              <div class="actions2">
                <%= f.submit "Submit Bid" %>
              </div>
            </div>

          <h5 class="bid-label2"> Total Bids: <span class="bid-display"><%=  @bids.count %></span> </h5>
        </div> <!-- end of bid-wrapper --> 
      </div> <!-- end of edit-links --> 
        
        <% end %>

        <% end %>
    </div><!-- end of spec-table-wrapper -->   
  </div><!-- end of show-field-wrapper -->     
</div><!-- end of rfp-show-wrapper -->

  


