<div class="rfp-page-wrapper">

  <h2 class="signup-header"> Active RFP</h2>

  <div class="text-field-wrapper">
  
    <div class="rfp-table-wrapper">  
      <h3 class="spec-header">RFP Information</h3>
      
      <%= render "rfp_show" %>

      <div class="rfp-wrapper1">
        <%= @rfp.end_date %>
      </div>     

      <div class="rfp-wrapper1">
        <%= @rfp.order_size %>
      </div>      
     
      <div class="rfp-wrapper1">
        <%= @rfp.contract_length %>
      </div>
      
      <div class="rfp-wrapper1">
        <%= @rfp.delivery_frequency %>
      </div>
      
      <div class="rfp-wrapper1">  
        <%= @rfp.delivery_date %>
      </div>  
    </div>

    <div class="spec-table-wrapper">  
      <h3 class="spec-header">Specification Information</h3>
      
        
          <%= render "spec_show" %>
        <br>

        <div class="spec-wrapper1">
          <%= @rfp.product.commodity %>
        </div>

            <% for spec in @rfp.product.specs %>
              <div class="spec-wrapper2">
                <%= spec.name %>
              </div>

              <div class="spec-wrapper3">
                <%= spec.unit %>
              </div>

              <div class="spec-wrapper4">
                <%= spec.limit %>
              </div>

              <div class="spec-wrapper5">
                <%= spec.value %>
              </div>

              <div class="spec-wrapper6">
                <%= spec.test_method_reference %>
              </div>

          <% end %>
          
  </div><!-- end of text-field-wrapper -->
</div>    

<p>
  <%= link_to "Edit", edit_rfp_path(@rfp) %> |
  <%= link_to "Destroy", rfp_path(@rfp), :confirm => 'Are you sure you want to delte RFP?', :method => :delete %> 
</p>
