<title> "Show RFP"</title>

<p><%= @rfp.end_date %></p>
<p><%= @rfp.order_size %></p>
<p><%= @rfp.contract_length %></p>
<p><%= @rfp.delivery_frequency %></p>
<p><%= @rfp.delivery_date %></p>

<p><%= @rfp.product.commodity %></p>
  
  <ul>
    <% for spec in @rfp.product.specs %>
      <li><%= spec.name %></li>
    <% end %>
  </ul>



<p>
  <% link_to "Edit", edit_rfp_path(@rfp) %> |
  <% link_to "Destroy", rfp_path(@rfp), :confirm => 'Are you sure you want to delte RFP?', :method => :delete %> 
</p>
