<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navbar -->
<div id="senior-nav-wrapper">
  <div id="black-strip"> 0 </div> 
   <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="/" class="logo">
        <img src="hippo_nav.svg"  style="height:100px;" 
          style="width:100px;" alt="25" fill="white"/>
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="/How It Works">How It Works</a></li>
          <li class="nav-link"><a href="/about">About Us</a></li>
          
        </ul>
      </nav>
      
      <div class="navigation-tools-login">
      <% if user_signed_in? %>


        <div class="navigation-tools">
          <div class="search-bar">
                <%= link_to('Logout', destroy_user_session_path, :class => "logout-link", :method => :delete) %>        
        </div>

            <% else %>          
              <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="/log in">Log In</a></li>
          <li class="nav-link"><a >|</a></li>
          <li class="nav-link"><a href="/about">Sign Up</a></li>
          
        </ul>
      </nav>
          
      <% end %>

        </div>
      </div>
    </div>
  </header>
</div>

<%= yield %>

<div class="spacer"> </div>

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>

</body>
</html>
